@{
  Layout = "_Layout";
}

<h1>Welcome to Pierre's Treats!</h1>
<p>@Html.ActionLink("See all treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See all flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("See all combinations of treats and flavors", "Index", "TreatFlavors")</p>
<p>@Html.ActionLink("Account Page", "Index", "Account")</p>
